#.gitignore file
aperturelens.png
banner.png
blackmesalogo.png
developercv.cls
EpciGames.png
fontawesome.pdf
LICENSE.md
main.synctex.gz
robertgervaisavatar.png
robert-gervais-resume.synctex.gz
robert-gervais-resume.tex
timelines.sty
robert-gervais-resume.aux
robert-gervais-resume.log
robert-gervais-resume.out