#.gitignore file
aperturelens.png
banner.png
blackmesalogo.png
developercv.cls
EpciGames.png
fontawesome.pdf
LICENSE.md
main.synctex.gz
robertgervaisavatar.png
robert-gervais-resume.synctex.gz
robert-gervais-resume.tex
robert-gervais-resume-template.tex
timelines.sty
robert-gervais-resume.aux
robert-gervais-resume.log
robert-gervais-resume.out
robert-gervais-cover-letter-template.aux
robert-gervais-cover-letter-template.log
robert-gervais-cover-letter-template.out
robert-gervais-cover-letter-template.pdf
robert-gervais-cover-letter-template.synctex.gz
robert-gervais-cover-letter-template.tex
robert-gervais-cover-letter.aux
robert-gervais-cover-letter.log
robert-gervais-cover-letter.out
robert-gervais-cover-letter.pdf
robert-gervais-cover-letter.synctex.gz
robert-gervais-cover-letter.tex