#.gitignore file
aperturelens.png
banner.png
blackmesalogo.png
developercv.cls
EpciGames.png
fontawesome.pdf
LICENSE.md
main.synctex.gz
robertgervaisavatar.png
robert-gervais-cv.aux
robert-gervais-cv.log
robert-gervais-cv.out
robert-gervais-cv.synctex.gz
robert-gervais-cv.tex
robert-gervais-resume.synctex.gz
robert-gervais-resume.tex
robert-gervais-resume-template.tex
timelines.sty
robert-gervais-resume.aux
robert-gervais-resume.log
robert-gervais-resume.out
robert-gervais-cover-letter-template.aux
robert-gervais-cover-letter-template.log
robert-gervais-cover-letter-template.out
robert-gervais-cover-letter-template.pdf
robert-gervais-cover-letter-template.synctex.gz
robert-gervais-cover-letter-template.tex
robert-gervais-cover-letter.aux
robert-gervais-cover-letter.log
robert-gervais-cover-letter.out
robert-gervais-cover-letter.pdf
robert-gervais-cover-letter.synctex.gz
robert-gervais-cover-letter.tex
design-sample-1.html
design-sample-2.html
design-sample-3.html
design-sample-4.html
design-sample-5.html
design-sample-6.html
design-samples-overview.html
elements.html
generic.html
landing.html
programming-sample-1.html
programming-sample-2.html
programming-sample-3.html
programming-sample-4.html
programming-sample-5.html
programming-sample-6.html
programming-samples-overview.html
writing-sample-1.html
writing-sample-2.html
writing-sample-3.html
writing-sample-4.html
writing-sample-5.html
writing-sample-6.html
writing-samples-overview.html
samples/
assets/
images/